<meta property="og:title" content="{{ page.title }}" />
<meta property="og:locale" content="de_DE" />
{% if page.description %}
<meta name="description" content="{{ page.description }}" />
<meta property="og:description" content="{{ page.description }}" />
{% else %}
<meta name="description" content="{{ site.description }}" />
<meta property="og:description" content="{{ site.description }}" />
{% endif %}
<link rel="canonical" href="{{ site.url}}/{{ page.permalink }}" />
<meta property="og:url" content="{{ site.url}}/{{ page.permalink }}" />
<meta property="site_name" content="{{ site.title }}" />
<meta name="twitter:card" content="{{ site.twitter.card}}" />
<meta property="twitter:title" content="{{ page.title }}" />
<meta name="twitter:site" content="{{ site.twitter.username }}" />
<meta name="twitter:creator" content="{{ site.author.twitter }}" />