<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{ page.title }} — {{ site.title }}</title>
	<link rel=icon href=/favicon.svg sizes=any type=image/svg+xml>
	<link href="{{ site.url }}/css/style.css" type="text/css" rel="stylesheet" />
	<!-- SEO -->
	{% include head-seo.html %}
	{% if page.layout == 'home' or page.layout == 'home_en' %}
	<!-- LS+JSON -->
	{%- include head-seo-json.html %}
	{%- endif %}
	<!-- Matomo -->
	{% include head-matomo.html -%}
</head>