<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		{% include header.html %}
		<div class="sidebar">
			{% include explainer_en.html %} {% include navigation.html %}
		</div>
		<main>
			{% assign book = site.posts | first %}
			<article>
				<p class="meta">
					<span class="announcement"><!--Nächster Termin-->Next Session</span>
					<span class="announcement"
						>{{ book.date | date: "%d.%m.%Y" }}, {{ book.date | date: "%k" }}<!--Uhr-->h</span
					>
				</p>

				<span class="chapter">{{ book.chapter }}</span>
				<h1>{{ book.title }}</h1>
				<img
					src="{{ site.url }}/assets/{{ book.coverImage }}"
					alt="{{ book.coverImageAlternative }}"
					class="coverImage"
				/>
				<div>
					<section>{{ book.content }}</section>
				</div>
			</article>
			{% include newsletter_en.html %}
		</main>
	</body>
</html>
